@import "core";
@import "vendor/fixedsticky";

.c-current-session {
  display:block;
  margin-top:45px;
  padding:45px 30px;
  color:#fff;
  background-color:#005ea5;
  text-align:center;

  .c-current-session__title {
    margin-top: 0;
    padding-top: 0;
  }
}
